@import @/styles/variables.sass

.section
  margin-bottom: $sectionMarginBottom

  .controlButton
    cursor: pointer
    margin-left: 10px
    color: $text-footer
    outline: none

    &:hover
      color: $text-main

  @media only screen and (max-width: 768px)
    h1
      margin-top: 10px

  .name
    display: flex
    justify-content: space-between
    margin-bottom: 15px

  .filterContainer
    @media only screen and (max-width: 768px)
      margin: 10px 0 20px 0

  .downloadLink
    font-weight: 600
    color: $text-main

  .parameters
    .value
      color: $text-second
      margin-right: 5px

    .marginLeft
      margin-left: 5px

  .controlButtons
    button
      &:last-of-type
        margin-right: 0
        margin-left: 5px

  .celestialMapImage
    border: 1px solid hsla(0,0%,100%,.1)
    object-fit: cover
    margin-bottom: -5px
    width: 100%

    @media only screen and (max-width: 768px)
      margin-bottom: 5px
