@import @/styles/variables.sass

.celestialContainer
  position: relative
  min-height: inherit

.skyMap
  position: relative
  border: 1px solid rgba(255, 255, 255, 0.1)
  overflow: hidden

  #celestial-zoomout
    top: 27px

.objectCloudMap
  display: flex
  flex-wrap: wrap
  justify-content: center

  .divider
    content: '•'
    color: $text-main
    margin: 0 5px

    &:last-of-type
      display: none

  .item
    margin: 1px
    color: $text-second
    cursor: pointer

    &.active
      font-weight: bold
      color: $text-main

    &:hover
      color: $text-main
