@use '../../../styles/variables'
@use '../../../styles/mixins'

.container
    padding: 2px !important

    .title
        margin: 10px 10px 5px

    .description
        margin: 0 10px 10px

+mixins.chart-tooltip(100px)
