@use '../../../../styles/variables' as variables

.carousel
    margin: 0

.carouselContainer
    & > section
        flex: 0 0 var(--slide-size)
        min-width: 0
        max-width: 364px
        padding: 10px 10px
        margin-right: 10px

        @media only screen and (max-width: variables.$mobileMaxWidth)
            max-width: 500px

    .review
        border-bottom: 0
        margin-bottom: 0
        padding-bottom: 0
        max-height: 185px
        overflow-y: hidden
        position: relative

        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 60px
            background: linear-gradient(to bottom, transparent, var(--container-background-color, #fff))
            pointer-events: none

