@import @/styles/variables.sass

.filterList
  margin: 0
  padding: 0
  list-style: none

  .filterItem
    padding: 2px 8px
    color: #fff
    font-size: .8em
    margin-right: 5px

  .luminance
    background-color: $filterL

  .red
    background-color: $filterR

  .green
    background-color: $filterG

  .blue
    background-color: $filterB

  .hydrogen
    background-color: $filterH

  .oxygen
    background-color: $filterO

  .sulfur
    background-color: $filterS
