@use '../../../../styles/variables' as variables

.formWrapper
    margin-bottom: 20px

.infoText
    font-size: var(--font-size-small)
    color: var(--text-color-secondary)
    text-align: center

.list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    gap: 10px

    li
        &:last-child
            article
                margin-bottom: 0
                padding-bottom: 0
                border-bottom: 0

.empty
    font-size: var(--font-size)
    color: var(--text-color-secondary)
    text-align: center
    margin: 20px
