@import variables.sass

body
  font-size: 12px !important
  line-height: 1.5
  background-color: $colorBackground !important
  color: $text-main !important
  margin: 0

h1
  font-size: 21px !important

#root
  height: 100vh

/* General */
.main
  margin-top: 70px

.small
  font-size: .9em
  color: $text-second

.box
  position: relative
  background: $box-background
  border-radius: $borderRadius
  padding: 13px
  box-shadow: 0 0 3px rgba(0,0,0,0.5)

  &.table
    padding: 5px !important

  &.global-map
    min-height: 560px

  #celestial-zoomin, #celestial-zoomout
    position: absolute
    left: 5px
    top: 5px
    color: $text-main
    background: $box-background
    border: 1px solid rgba(255, 255, 255, 0.04)
    cursor: pointer
    font-weight: 900

    &:hover
      background: #484848

  #celestial-zoomout
    top: 27px

  @media only screen and (max-width: 768px)
    &.global-map
      min-height: 260px

  .dimmer
    border-radius: $borderRadius

  &.loader
    height: 40vh

  .accordion
    .title
      margin-left: 10px
      font-weight: 600
      text-transform: uppercase

.second-color
  color: $text-second

.aright
  text-align: right

.ui.input > input, .ui.multiple.search.dropdown
  background-color: #4e4e4e
//color: $text-main !important
//border-color: transparent !important

.ui.page.modals.dimmer.active
  z-index: 2000 !important

main .ui.multiple.search.dropdown > input.search
  color: $text-main !important

main .ui.selection.active.dropdown .menu
  border-color: transparent !important
  background-color: #4e4e4e !important

  > .item
    border-top-color: #464646 !important
    color: $text-main
    font-size: 12px

main .ui.selection.active.dropdown
  &:focus, &.active
    background-color: $input-focus-BackgroundColor !important
    border-color: $input-focus-BorderColor !important

main .ui.selection.dropdown .menu > .message
  color: $text-second !important

.ui.modal > .content
  color: $colorBackground

.ui.modal:not(.confirm)>.content
  padding: 0.5em 1em 1em !important

.ui.input.focus > input, .ui.input > input:focus
  background-color: #565656

@media only screen and (max-width: 768px)
  .ui.grid
    .column
      padding-top: 5px !important
      padding-bottom: 5px !important

.ui.menu.fixed
  z-index: 2000 !important
