$mobileMaxWidth: 768px
$sideBarWidth: 280px

//$boxShadow1: 0 0 2px rgba(0,0,0,.08), 0 4px 16px rgba(0,0,0,.08)
//$boxShadow2: 0 0 2px rgba(0,0,0,0), 0 4px 16px rgba(0,0,0,.08)
//$boxShadow4: 0 0 8px rgba(0,0,0,.12), 0 16px 16px rgba(0,0,0,.16)
$boxShadow5: 0 0 2px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08)
