.breadcrumbs
    display: flex
    list-style: none
    margin: 0
    padding-left: 16px

    li
        font-size: var(--font-size-small)
        color: var(--text-color-secondary)
        white-space: nowrap
        line-height: normal

        a
            white-space: nowrap

        &:not(:last-of-type)
            &:after
                content: '/'
                user-select: none
                margin-left: 8px
                margin-right: 8px

        &.currentPage
            text-overflow: ellipsis
            overflow: hidden
