@import @/styles/variables.sass

.section
  margin-bottom: $sectionMarginBottom

  .controlButton
    cursor: pointer
    margin-left: 10px
    color: $text-footer
    outline: none

    &:hover
      color: $text-main

  .description
    display: flex !important
    flex-direction: column
    justify-content: space-between
    padding-left: 0 !important
    padding-bottom: 14px !important

    @media only screen and (max-width: 768px)
      padding: 10px !important

    .parameters
      margin-bottom: 0

      @media only screen and (max-width: 768px)
        margin-bottom: 10px

      .value
        color: $text-second
        margin-right: 5px

      .marginLeft
        margin-left: 5px

  .photoContainer
    margin-bottom: -5px

    @media only screen and (max-width: 768px)
      margin-top: 10px
      margin-bottom: 0

    .loader
      position: absolute
      height: 96.1%
      width: 95.6%

    .buttonDownload
      position: absolute
      right: 23px
      bottom: 28px
      opacity: .5
      margin-right: 0

    &:hover
      > .buttonDownload
        opacity: 1

  .photo
    min-height: 300px
    max-height: 440px
    height: 100%
    width: 100%
    object-fit: cover
    cursor: pointer
    border: 1px solid hsla(0,0%,100%,.1)

  .celestialMapImage
    border: 1px solid hsla(0,0%,100%,.1)
    object-fit: cover
    width: 100%

    @media only screen and (max-width: 768px)
      min-height: auto
      margin-bottom: 7px

@media only screen and (max-width: 768px)
  .text
    padding: 20px 0 !important

  .filter-list
    padding: 0

  .photoContainer
    padding: 6px !important
