@import '@/styles/variables.sass'

.menu
  background-color: $box-background !important
  font-size: 12px !important

  .hamburger
    font-size: 20px
    cursor: pointer

  .label
    position: relative
    min-height: 16px
    min-width: 27.5px

  &:global(.ui.secondary.menu .dropdown.item>.menu)
    margin-top: 0 !important
