@import '@/styles/variables.sass'

.footer
  text-align: center
  padding-bottom: $sectionMarginBottom
  color: $text-second
  font-size: .9em

  .copyrightLink
    color: #a4ffa4

  img
    height: 11px
    margin-left: 5px
    vertical-align: middle
    margin-top: -3px
