.footer
    margin: 20px 0
    text-align: center
    color: var(--text-color-secondary)
    font-size: var(--font-size-small)

    .copyrightLink
        color: #a4ffa4

    .copyrightImage
        margin: -4px 3px 0 7px
        vertical-align: middle
