.confirmContent
    margin: 10px 20px

    .notifyText
        font-size: var(--font-size-small)
        font-weight: 100

.confirmationFooter
    display: flex
    gap: 10px
    justify-content: right
