@import ../../styles/variables

.eventsList
    display: flex
    flex-wrap: wrap
    margin: 10px -5px -5px

.eventListItem
    position: relative
    border-radius: var(--border-radius)
    background: var(--container-background)
    overflow: hidden
    flex-basis: calc(33.3333% - 10px)
    margin: 5px

    @media only screen and (max-width: $mobileMaxWidth)
        flex-basis: 100%
        max-width: 100%

    .photoSection
        position: relative
        height: 240px
        border-radius: var(--border-radius)

        & > a
            display: block
            width: 100%
            height: 100%
            border-radius: inherit

        &:before
            box-shadow: var(--container-shadow)
            border-radius: inherit
            border-bottom-right-radius: 0
            border-bottom-left-radius: 0
            content: ""
            height: 100%
            left: 0
            pointer-events: none
            position: absolute
            top: 0
            width: 100%

        .photo
            border-radius: inherit
            border-bottom-right-radius: 0
            border-bottom-left-radius: 0
            width: 100%
            object-fit: cover
            font-size: 0

    .bottomPanel
        padding: 10px 10px 5px

        .title
            white-space: pre
            text-overflow: ellipsis
            overflow: hidden
            max-width: 100%
            color: #FFF
            margin-bottom: 0

            a
                color: #FFF
                text-decoration: none
                font-weight: 400
                width: 100%
                display: block

        .date
            color: var(--text-color-secondary)
            font-size: var(--font-size-small)
