.objectContainer
    display: flex
    margin-bottom: 10px

    .infoContainer
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        .parameters
            .item
                display: flex
                align-items: center

                .key
                    margin-right: 5px
                    color: var(--text-color-secondary)

        .filterList
            margin-left: 30px

        .starMapImage
            margin-left: auto
            object-fit: cover
