@import @/styles/variables.sass

.section
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: $sectionMarginBottom

  .divider
    content: '•'
    color: $text-main
    margin: 0 5px

    &:last-of-type
      display: none

  a
    color: $text-second

    &.active
      font-weight: bold
      color: $text-main

    &:hover
      color: $text-main
