.showMore
    .content
        max-height: 63px
        overflow: hidden
        position: relative
        transition: max-height 500ms ease

        &::before
            content: ""
            position: absolute
            left: 0
            right: 0
            bottom: 0
            height: 50px
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(44 45 46) 100%)
            pointer-events: none

        &.expanded
            max-height: 1000px

            &::before
                display: none

    .showMoreButton
        width: 100%
