.form
    max-width: 400px !important
    margin: 20px auto 0

    .childrenAges
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 5px

        & > label
            margin: 0 !important

        & > div
            width: 192px !important
