@import @/styles/variables.sass

@mixin weatherCondition
    display: inline-block
    width: 8px
    height: 8px
    background-color: $brown
    margin-right: 5px

@mixin state
    color: $brown
    margin-left: 5px
    text-transform: lowercase

.weather
    margin-bottom: 10px

    .blockTitle
        margin: 0

    .update
        margin: 2px 0 5px 0
        font-size: 11px
        color: var(--text-color-secondary)

        strong
            margin: 0 4px

    .grid
        display: flex
        flex-wrap: wrap

        .column
            padding: 1px 0 !important

        .key
            flex-basis: 50%
            width: 50%
            color: var(--text-color-secondary)

        .val
            color: var(--text-color-main)
            margin-left: 5px

    .weatherState0
        @include weatherCondition
        background-color: $green

    .weatherState1
        @include weatherCondition
        background-color: $orange

    .weatherState2
        @include weatherCondition
        background-color: $red

    .weatherState3
        @include weatherCondition

    .state0
        @include state
        color: $green

    .state1
        @include state
        color: $orange

    .state2
        @include state
        color: $red

    .state3
        @include state
