.weather
    margin-bottom: 10px

    .blockTitle
        margin: 0

    .update
        margin: 2px 0 5px 0
        font-size: 11px
        color: var(--text-color-secondary)

        strong
            margin: 0 4px

    .grid
        display: flex
        flex-wrap: wrap

        .column
            padding: 1px 0 !important

        .key
            flex-basis: 50%
            width: 50%
            color: var(--text-color-secondary)

        .val
            color: var(--text-color-primary)

    .weatherCondition
        display: inline-block
        width: 8px
        height: 8px
        background-color: var(--color-orange-background)
        margin-right: 5px

        &.good
            background-color: var(--color-green)

        &.warning
            background-color: var(--color-orange)

        &.danger
            background-color: var(--color-red)

    .weatherState
        color: var(--color-orange-background)
        margin-left: 2px
        text-transform: lowercase

        &.good
            color: var(--color-green)

        &.warning
            color: var(--color-orange)

        &.danger
            color: var(--color-red)
