@import @/styles/variables.sass

.section
  display: block
  overflow: hidden
  border-collapse: separate
  margin-bottom: $sectionMarginBottom

  .moon
    position: absolute
    right: -1px
    top: 4px

  .event
    display: block
    padding: 1px 1px 1px 4px
    margin-top: 3px
    background-color: #43464d

    &.sun
      .icon
        width: 17px
        float: left
        margin: 0 5px 0 2px
        height: 17px

    &.telescope
      background-color: #7a5f5f
      cursor: pointer
      .icon
        color: $orange

      &.mobile
        text-align: center

    &.weather
      background-color: #475e85
      .icon
        color: $lightblue

  .calendarToolbar
    margin: 5px 0 10px

    button
      padding: 5px !important

    .currentMonth
      display: inline-block
      margin: 0 10px
      text-transform: capitalize

  .grid
    margin: 0
    padding: 0
    display: block

    table
      width: 100%
      margin: 0
      padding: 0
      border-spacing: 0
      border-collapse: collapse

      thead tr > th
        height: 50px
        border: 1px solid #3f3f3f
        background-color: #242424
        text-transform: uppercase

      tbody tr > *
        background-color: #333

        .dayNumber
          display: inline-block
          border: 1px solid #6b6b6b
          padding: 1px 3px
          width: 23px
          height: 20px
          text-align: center

          &.green
            background-color: $green
            border-color: #a5ff2c

          &.orange
            background-color: $orange
            border-color: #FFB804

          &.red
            background-color: $red
            border-color: #ffa494

        &.calendarDay
          position: relative
          border: 1px solid #565656
          vertical-align: top
          padding: 3px
          width: 14.2%

          &.currentDay
            background-color: #414141

        &.empty, &.disable
          cursor: not-allowed
          background-color: #424242

        &.today
          background-color: #414141

          .dayNumber
            font-weight: 900
            border-width: 2px
