@use '../../styles/variables' as variables

.noPhotos
    text-align: center
    color: var(--text-color-secondary)
    padding: 20px 0

.showMorePhotos
    color: var(--link-color) !important
    margin-left: auto

    &:hover
        color: var(--link-color-hover) !important
