@use '../../styles/variables' as variables

.noPhotos
    text-align: center
    color: var(--text-color-secondary)
    padding: 20px 0

.showMorePhotos
    margin-left: auto
    font-size: 14px
    font-weight: 400
    white-space: nowrap
    cursor: pointer

.uploadError
    margin-top: 12px
