@use '../../styles/variables' as variables

.footerLinks
    display: flex
    justify-content: space-around
    gap: 15px

    @media only screen and (max-width: variables.$mobileMaxWidth)
        flex-direction: column

    a
        text-decoration: none
        width: 100%
        background: rgb(255, 255, 255, .03)
        border-radius: 6px
        padding: 10px
        transition: background-color 0.25s ease-in-out
        display: flex
        justify-content: center
        align-items: center
        gap: 20px

        &:hover
            background: rgb(255, 255, 255, .07)

        .linkName
            text-align: center

            .date
                font-size: var(--font-size-small)
                color: var(--text-color-secondary)

        svg
            width: 40px
            height: 40px
            fill: var(--link-color-hover)

.noPhotos
    text-align: center
    color: var(--text-color-secondary)
    padding: 20px 0

.showMorePhotos
    width: 100%
    margin-top: 12px
