@import @/styles/variables.sass

.authorTable
  margin-top: 0 !important

  .tableRow
    .control-button
      visibility: hidden

    &:hover
      .control-button
        visibility: visible

  .cellLink
    @media only screen and (max-width: 768px)
      max-width: 150px

    a
      text-overflow: ellipsis
      display: block
      overflow: hidden
