.astronomyCalc
    display: flex
    justify-content: space-between
    gap: 10px

    .container
        width: 50%
        flex-basis: 50%

        .parameters
            display: flex
            gap: 10px
            font-size: var(--font-size-small)

            .key
                color: var(--text-color-secondary)

                .val
                    margin-left: 5px
                    color: var(--text-color-primary)

    .icon, .moon
        width: 16px
        vertical-align: middle
        display: inline-block
        float: none
        margin-right: 5px
