@use '../../styles/variables' as variables

.cameraSection
    padding: 5px !important
    font-size: 0 !important

    @media only screen and (max-width: variables.$mobileMaxWidth)
        margin-bottom: 5px

    .lightboxTrigger
        border: none
        background: none
        padding: 0
        margin: 0
        display: inline-block
        width: 100%
        height: 100%
        min-height: 400px
        position: relative

        svg
            position: absolute
            width: 32px
            height: 32px
            z-index: 0
            left: 47%
            top: 47%

    .photoImage
        position: relative
        cursor: pointer
        height: 100%
        width: 100%
        object-fit: cover
        z-index: 1

    @media only screen and (max-width: variables.$mobileMaxWidth)
        .photoImage
            height: auto
            min-height: 300px

    .progress
        margin: -6px 0px 0px 0px !important

        :global(.bar)
            height: 2px !important
