@import @/styles/variables.sass

.section
  margin-bottom: $sectionMarginBottom

  @media only screen and (max-width: 768px)
    overflow: hidden
    overflow-x: auto

  .fitsImage
    width: 26px
    height: 17px
    cursor: pointer

  .moonDate
    display: flex
    flex-wrap: nowrap

    span
      float: none

  .luminance
      background-color: $filterL

  .red
      background-color: $filterR

  .green
      background-color: $filterG

  .blue
      background-color: $filterB

  .hydrogen
      background-color: $filterH

  .oxygen
      background-color: $filterO

  .sulfur
      background-color: $filterS
