@use '../../../../styles/mixins'

.sections
    display: flex
    justify-content: space-between
    align-items: flex-end
    gap: 10px
    margin-bottom: 10px

    .inputSection
        width: 52%
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 10px

    .mapSection
        width: 48%


.footer
    +mixins.form-footer
