.sections
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-top: 10px
    gap: 10px

    .inputSection
        width: 65%
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-top: 10px
        gap: 10px

    .mapSection
        width: 35%


.footer
    border-top: var(--input-border)
    margin-top: 10px
    padding-top: 10px
    display: flex
    justify-content: flex-end
    gap: 10px
