.tableContainer
    padding: 2px !important

.filesListTable
    .objectLink
        white-space: nowrap

    .cellCenter, .cellPhoto
        text-align: center !important

    .cellPhoto
        width: 100px

        img
            vertical-align: middle
