@import @/styles/variables.sass

.photoGird
  display: flex
  flex-wrap: wrap
  padding: 1em .5em
  padding-bottom: 0 !important

  .notFound
    width: 100%
    text-align: center
    margin: 1em 0 1.8em

  .item
    color: $text-main
    object-fit: cover
    border: 1px solid hsla(0,0%,100%,.1)
    cursor: pointer
    overflow: hidden
    flex-grow: 1
    flex-shrink: 0
    margin: 0 .5em 1em
    flex-basis: calc(20%)

    &.item4
      flex-basis: calc(25% - 10px)

    &> div
      &> div
        width: 100%

  h4
    margin-bottom: 5px

  .photo
    object-fit: cover
    height: auto
    min-height: 200px
    width: 100%
    margin-bottom: -5px

  .info
    position: relative
    padding: 1em
    height: 200px
    background: #1d1d1e
    font-size: .8em

  @media only screen and (max-width: 768px)
    flex-wrap: wrap

    .photoRow-4
      flex-basis: calc(100%) !important

    .item
      flex: 100%
