@use '../../../../styles/variables'
@use '../../../../styles/mixins'

.widget
    flex-basis: calc(50% - 5px)
    width: calc(50% - 5px)
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden

    @media only screen and (max-width: variables.$mobileMaxWidth)
        flex-basis: 100%
        width: 100%

    &.fullWidth
        width: 100% !important
        flex-basis: 100%

+mixins.chart-tooltip(160px)
