.photoContainer
    display: flex
    margin-bottom: 10px

    .imageSection
        flex-basis: 70%
        width: 70%
        margin-right: 10px
        position: relative
        min-height: 500px

        .image
            object-fit: cover

    .parametersSection
        .item
            display: flex
            align-items: flex-start

            .key
                margin-right: 5px
                color: var(--text-color-secondary)

        .filterList
            margin-top: 10px

