.photoContainer
    display: flex
    margin-bottom: 10px

    .imageSection
        flex-basis: 70%
        width: 70%
        margin-right: 15px
        position: relative
        min-height: 500px

        .image
            object-fit: cover

    .parametersSection
        display: flex
        flex-direction: column
        flex-basis: 30%
        width: 30%

        .objectLink
            margin-right: 10px

        .item
            display: flex
            align-items: flex-start

            .key
                margin-right: 5px
                color: var(--text-color-secondary)

        .filterList, .equipmentList
            margin-top: 10px

        .equipmentList
            margin-bottom: 15px

    .starMapSection
        margin-top: auto
